# Creado por https://www.toptal.com/developers/gitignore/api/kotlin,intellij
# Editar en https://www.toptal.com/developers/gitignore?templates=kotlin,intellij

### Inteligencia ###
# Cubre los IDE de JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm y Rider
# Referencia: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Cosas específicas del usuario
.idea/**/espacio de trabajo.xml
.idea/**/tareas.xml
.idea/**/estadísticas.de.uso.xml
.idea/**/diccionarios
.idea/**/estante

# Específico del usuario de AWS
.idea/**/aws.xml

# Archivos generados
.idea/**/contentModel.xml

# Archivos sensibles o de alta rotación
.idea/**/fuentesdedatos/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

#Gradle
.idea/**/gradle.xml
.idea/**/bibliotecas

# Gradle y Maven con importación automática
# Al usar Gradle o Maven con importación automática, debe excluir los archivos del módulo,
# ya que se volverán a crear y pueden causar pérdida de clientes. Descomente si usa
# importación automática.
# .idea/artefactos
# .idea/compilador.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/módulos
# *.iml
# *.ipr

#CMake
cmake-construcción-*/

# Complemento Mongo Explorer
.idea/**/mongoSettings.xml

# Formato de proyecto basado en archivos
*.iws

#IntelliJ
afuera/

# Complemento mpeltonen/sbt-idea
.idea_modules/

# Complemento de JIRA
complemento atlassian-ide.xml

# Complemento de Clojure para cursiva
.idea/replstate.xml

# Complemento SonarLint
.idea/sonarlint/

# Complemento Crashlytics (para Android Studio e IntelliJ)
com_crashlytics_export_strings.xml
propiedades de crashlytics
Propiedades de construcción de crashlytics
Propiedades de la tela

# Cliente Rest basado en editor
.idea/solicitudeshttp

# Archivo de caché serializado de Android Studio 3.1+
.idea/caches/build_file_checksums.ser

### Parche Intellij ###
Motivo del comentario: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# módulos.xml
# .idea/misc.xml
# *.ipr

# Complemento Sonarlint
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# Complemento SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Complemento Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/navegador-markdown.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/navegador-markdown/

# Error en la creación de archivo de caché
# Ver https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$ARCHIVO_CACHE$

# Complemento CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Complemento de Azure Toolkit para IntelliJ
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

### Kotlin ###
# Archivo de clase compilado
*.clase

# Archivo de registro
*.registro

# Archivos BlueJ
*.ctxt

# Herramientas móviles para Java (J2ME)
.mtj.tmp/

# Archivos del paquete #
*.frasco
*.guerra
*.nar
*.oreja
*.cremallera
*.tar.gz
*.rar

# registros de fallos de la máquina virtual, consulte http://www.java.com/en/download/help/error_hotspot.xml
error hs_err_pid*
pid de reproducción*

# Fin de https://www.toptal.com/developers/gitignore/api/kotlin,intellij